.subtitulo{
    margin: 15px;
    padding: 0;
}

.contenedor{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.imagen{
    float: right;
    margin: 0 0 10px 20px;
    max-width: 15%;
    height: auto;
}

.imagen2{
    float: left;
    margin: 0 20px 10px 0;
    max-width: 15%;
    height: auto;
}

p{
    font-size: 20px;
    margin: 40px auto;
}

.tituloInterno{
    font-size: 24px;
    padding: 20px;
}